<html>
    <head>
        <link rel="stylesheet" href="HW3_style.css">
        <title>함께혼밥</title>
    </head>

    <body>
        <div class="container">
            

            <div id="header">
                <style>
                    li {display: inline; float: right;}
                    a:link {color: grey; text-decoration:none; block; padding: 8px; background-color: white; font-size: small;}
                  </style>
                  <u1>
                    <li><a display="block" href="default.asp">회원가입</a></li>
                    <li><a display="block" href="default.asp">로그인</a></li>
                    <li><a display="block" href="default.asp">고객센터</a></li>
                    <li><a display="block" href="default.asp">혼밥친구 찾기</a></li>
                  </u1>
            </div>
            

            <div id="mainlogo">
                <img src="logo2.png" alt="함께혼밥 로고">
            </div>
           

            <div id="gnb">
                <ul>
                    <li><a display="block" href="default.asp">전체 카테고리</a></li>
                    <li><a display="block" href="default.asp">주간 순위</a></li>
                    <li><a display="block" href="default.asp">혼밥친구 찾기</a></li>
                    <li><a display="block" href="default.asp">공구팸 찾기</a></li>
                    <li><a display="block" href="default.asp">맛집 후기 공유</a></li>
                    <li><a display="block" href="default.asp">이벤트</a></li>
                    <li><a display="block" href="default.asp">마이페이지</a></li>
                    <li><a display="block" href="default.asp">고객센터</a></li>
                  </ul>
            </div>
           

            <div id="slider">
                
                <div class="mySlides fade">
                    <img src="slide show 1.png" style="max-width: 100%">
                    <button class="btn">혼밥친구 찾으러 가기</button>
                </div>

                <div class="mySlides fade">
                    <img src="slide show 2.png" style="max-width: 100%">
                    <button class="btn_2">공구팸 찾으러 가기</button>
                </div>
                
                <!-- Next and previous buttons -->
                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides(1)">&#10095;</a>
                  
            </div>


            <div id="main1">
                <div id="main1_title">
                    <h3 id="main1_ti">
                        <span id="main1_ti_span">지금 제일 핫한 공구!</span>
                    </h3>
                </div>
            
            <div id="list_goods">

                <div id="gallery">
                    <a target="_blank" href="salad.jpg">
                        <img src="salad.jpg" width="400" height="600">
                    </a>
                    <div class="desc">샐러드 야채 6종<br/>6,500원</div>
                </div>

                <div id="gallery">
                    <a target="_blank" href="juice.png">
                        <img src="juice.png" width="400" height="600">
                        <div class="desc">착즙주스 재료 7종<br/>9,500원</div>
                    </a>
                </div>

                <div id="gallery">
                    <a target="_blank" href="viet.jpg">
                        <img src="viet.jpg" width="400" height="600">
                        <div class="desc">월남쌈 1회분 야채<br/>4,500원</div>
                    </a>
                </div>

                <div id="gallery">
                    <a target="_blank" href="mara.jpg">
                        <img src="mara.jpg" width="400" height="600">
                        <div class="desc">마라탕 재료 종합세트<br/>12,500원</div>
                    </a>
                </div>

            </div>

                


            <div id="main2">

                <div id="gallery">
                    <a target="_blank" href="peach.PNG">
                    <img src="peach.PNG" width="400" height="600">
                    <div class="desc">아삭아삭 복숭아<br/>9,900원</div>
                    </a>
                </div>

                <div id="gallery">
                    <a target="_blank" href="banana.PNG">
                    <img src="banana.PNG" width="400" height="600">
                    <div class="desc">아침마다 바나나<br/>2,900원</div>
                    </a>
                </div>

                <div id="gallery">
                    <a target="_blank" href="전복.PNG">
                    <img src="전복.PNG" width="400" height="600">
                    <div class="desc">쫄깃쫄깃 전복 5개<br/>15,900원</div>
                    </a>
                </div>

                <div id="gallery">
                    <a target="_blank" href="아보카도.PNG">
                    <img src="아보카도.PNG" width="400" height="600">
                    <div class="desc">몸에 좋은 아보카도 1개<br/>2,500원</div>
                    </a>
                </div>

            </div>
            
        </div>
        

    </body>

    <script>
        var slideIndex = 1;
showSlides(slideIndex);

// Next/previous controls
function plusSlides(n) {
  showSlides(slideIndex += n);
}

// Thumbnail image controls
function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("dot");
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " active";
}
    </script>
</html>